.transform-container{
    margin: 200px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.transform-img img{
    width: 500px;
    border-radius: 10px;
    box-shadow: 30px 25px  rgba(0, 0, 0, 0.279);
}
.transform-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.transform-text h1{
    margin-bottom: 20px;
}
.transform-text li{
    margin: 5px 0;
}

.transform-btn{
    margin-top: 20px;
    display: flex;
}
.transform-btn button{
    border-radius: 5px;
    padding: 10px 35px;
    border: none;
    background-color: darkblue;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.transform-btn button:nth-child(2){
    background-color: rgba(0, 0, 0, 0.279);
    margin-left: 10px;
}
.join-us{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    background-color: rgba(0, 0, 0, 0.279);
    padding: 40px 50px;
    border-radius: 15px;
}
.join-us button{
    border-radius: 5px;
    padding: 10px 35px;
    border: none;
    background-color: darkblue;
    color: white;
    font-size: 18px;
    cursor: pointer;
}


@media screen and (max-width:450px) {
    .transform-container{
        flex-direction: column;
    }
    .transform-img img{
        width: 350px;
    }
    .transform-text{
        padding: 0 2vw;
    }
    .join-us{
        line-height: 1.3;
        margin: 2vw;
        flex-direction: column;
        text-align: center;
        padding: 40px 10px;
    }
    .join-us button{
        margin-top: 20px;
    }
}